!!!
%html( lang='en' )
  %head
    %meta( charset='utf-8' )
    %title=_['title', 'untitled']
    
    -# load some CSS 
    - _['css', []].each do |css_file_name|
      %link( rel='stylesheet' href="#{cssHelper(css_file_name)}" type="text/css" )

    - _['scss', []].each do |scss_file_name|
      %link( rel='stylesheet' href="#{scssHelper(scss_file_name)}" type="text/css" )

    -# load some script
    - _['javascript', []].each do |js_file_name|
      %script( src="#{javascriptHelper(js_file_name)}" type="text/javascript" )

    - _['coffeescript', []].each do |coffee_file_name|
      %script( src="#{coffeescriptHelper(coffee_file_name)}" type="text/javascript" )


  %body
    #page
      - _.subrenderers.each_with_index do |subrenderer, i|
        = _.insert(i)

    :javascript
      $(function(){
        ABoo.main()
      });
