- title ||= 'Untitled'

%a.boo-cell( href="#{link}" )

  .extend-left
    = partial( :_row_drag_handle )
  
  .row-media
    %img( src="#{ imageHelper( img_file ) }" )

  .row-text
    %h3.title
      = title
    %p.boo-author      
      %span.last-updated
        = last_updated      
      %span.boo-usrname
        hooleyhoop
      %span.boo-ampersand        
        @
      %span.boo-containing-channel
        bbcradiofour

